<!DOCTYPE html>
<html lang="es">

<head>
  <title>SPA Clous</title>

  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <% /* If you want to discourage search engines from indexing this site, uncomment the following line: */%>
    <% /* <meta name="robots" content="noindex"> */%>

      <!--STYLES ADD-->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="/styles/jquery.dataTables.min.css">
      <link rel="stylesheet" type="text/css" href="/styles/estilos.css">
      <link rel="stylesheet" type="text/css" href="/styles/importer.css">
      <link rel="stylesheet" type="text/css" href="/styles/owl.carousel.min.css">
      <link rel="icon" href="../images/favicon.ico">
      <!--STYLES ADD END-->

</head>

<body>

  <aside>
    <input type="checkbox" id="check">
    <div id="boton-menu">
      <label for="check">
        <i class="fa fa-bars" id="btn"></i>
      </label>
    </div>
    <nav id="sidebar" class="sidebar">
      <div class="barra">
        <h1><a href="/administradores" class="logo"><img src="../images/bg_login.jpg" alt="img_logo"><span>
              <%= session.nombreCompleto%>
            </span></a></h1>
        <ul class="list-unstyled components mt-5 mb-5">
          <li class="">
            <a href="/administradores"><span class="fa fa-people-arrows mr-3"></span>Administradores</a>
          </li>
          <li class="">
            <a href="/clientes"><span class="fa fa-people-group mr-3"></span>Clientes</a>
          </li>
          <li class="">
            <a href="/citas"><span class="fa fa-calendar-days mr-3"></span>Citas</a>
          </li>
          <li class="">
            <a href="/colores"><span class="fa fa-palette mr-3"></span>Cromoterapia</a>
          </li>
          <li class="">
            <a href="/aromas"><span class="fa fa-spray-can mr-3"></span>Aromaterapia</a>
          </li>
          <li class="">
            <a href="/generos-musicales"><span class="fa fa-music mr-3"></span>Musicoterapia</a>
          </li>
          <li class="">
            <a href="/terapias"><span class="fa fa-person-dots-from-line mr-3"></span>Terapias</a>
          </li>
        </ul>

        <div class="d-grid gap-2">
          <a href="/cerrar-sesion" class="btn btn-secondary salir"><span
              class="fa fa-right-from-bracket"></span>Salir</a>
        </div>
      </div>
  </aside>

  <main>
    <!-- Page Content  -->
    <div id="content">
      <%- body %>
    </div>
  </main>

  <!--SCRIPTS-->
  <script src="/min/production.min.js"></script>
  <!--SCRIPTS END-->

  <!--SCRIPTS ADD-->
  <!-- <script src="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css"></script> -->
  <script src="https://kit.fontawesome.com/41dcbddeb7.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
  <script src="https:/cdn.datatables.net/plug-ins/1.13.1/i18n/es-ES.json"></script>
  <!--SCRIPTS ADD END-->

</body>

</html>