<h6 class="titulo-pagina-menu">Administradors</h6>

<div class="content">
  <div class="container">

    <div class="mb-5">
      <h5>Agregar Administrador</h5>
    </div>

    <div class="alert alert-danger" role="alert">
      <% flash.get('mensaje').forEach(function (msg) { %>
        <p>
          <i><span class="fa fa-circle-xmark"></span></i>
          <%=msg%>
        </p>
        <% }) %>
    </div>

    <form class="row g-4" method="post" action="/procesar-agregar-administrador">
      <div class="row">
        <div class="col-md-5 mb-3">
          <label for="nombreAdministrador" class="form-label">Nombres</label>
          <input type="text" class="form-control" id="nombreAdministrador" name="nombreAdministrador"
            placeholder="nombres completos" autocomplete="off" required>
        </div>
        <div class="col-md-5 mb-3">
          <label for="apellido1Administrador" class="form-label">Primer Apellido</label>
          <input type="text" class="form-control" id="apellido1Administrador" name="apellido1Administrador"
            placeholder="apellidos completos" autocomplete="off" required>
        </div>
        <div class="col-md-5 mb-3">
          <label for="apellido2Administrador" class="form-label">Segundo Apellidos</label>
          <input type="text" class="form-control" id="apellido2Administrador" name="apellido2Administrador"
            placeholder="apellidos completos" autocomplete="off" required>
        </div>
        <div class="col-md-5 mb-3">
          <label for="correoAdministrador" class="form-label">Correo</label>
          <input type="text" class="form-control" id="correoAdministrador" name="correoAdministrador"
            aria-describedby="correoAdministrador" autocomplete="off" placeholder="correo@dominio.com" required>
        </div>
        <div class="col-md-5 mb-3">
          <label for="contrasenaAdministrador" class="form-label">Contraseña</label>
          <input type="password" class="form-control" id="contrasenaAdministrador" name="contrasenaAdministrador"
            autocomplete="off" placeholder="contraseña" required>
        </div>
        <div class="col-md-5 mb-3">
          <label for="estadoAdministrador" class="form-label">Estado Administrador</label>
          <select class="form-select" id="estadoAdministrador" name="estadoAdministrador" autocomplete="off" required>
            <option selected disabled value="">seleccione un estado</option>
            <option>Activo</option>
            <option>Inactivo</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mt-4">
          <button class="btn btn-primary" type="submit">Agregar Administrador</button>
        </div>
      </div>
    </form>

  </div>

</div>