<h6 class="titulo-pagina-menu">Aromaterapia</h6>

<div class="content">
  <div class="container">
    <div class="formulario">

      <% flash.get('mensaje').forEach(function (msg) { %>
        <div class="alert alert-danger alert-dismissible fade show mb-4" role="alert" id="alerts">
          <p>
            <i><span class="fa fa-circle-xmark"></span></i>
            <%=msg%>
          </p>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% }) %>

          <nav class="mt-4" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/aromas">Aromaterapia</a></li>
              <li class="breadcrumb-item active" aria-current="page">Editar</li>
            </ol>
          </nav>

          <div class="card mt-5">
            <div class="mb-4">
              <h6>Editar Aroma</h6>
            </div>

            <div class="card-body">
              <form class="row g-4" id="formulario-aromaterapia" method="post" action="/procesar-editar-aroma">
                <div class="col-md-6 mb-3">
                  <label for="idAroma" class="form-label">Id</label>
                  <input type="text" class="form-control" id="idAroma" name="idAroma" value="<%=aroma[0].id%>"
                    autocomplete="off" readonly>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="nombreAroma" class="form-label">Nombre</label>
                  <input type="text" class="form-control" id="nombreAroma" name="nombreAroma"
                    value="<%=aroma[0].nombre_aroma%>" placeholder="nombre aroma" autocomplete="off">
                </div>
                <div class="col-md-6 mb-3">
                  <label for="descripcionAroma" class="form-label">Descripción Aroma</label>
                  <textarea class="form-control" id="descripcionAroma" name="descripcionAroma"
                    placeholder="Esciba aquí..."></textarea>
                </div>
            </div>
            <div class="d-grid gap-2 mt-4">
              <button class="btn btn-outline-primary" type="submit">Editar Aroma</button>
            </div>
            </form>
          </div>
    </div>
  </div>
</div>