/*
---------------------------------------------------------
CSS sidebar
---------------------------------------------------------
 */

.wrapper {
  width: 100%;
  margin: 0;
  padding: 0;
}

#check {
  display: none;
}

#boton-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin-left: 85%;
  margin-top: 5%;
  background: #000;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  color: #fff;
  text-align: center;
  cursor: pointer;
}

#boton-menu:hover {
  background-color: rgb(82, 81, 81);
}

#check:checked~#boton-menu {
  background-color: #b9aa61;
}

#check:checked~.sidebar {
  left: 0;
}

#sidebar {
  position: fixed;
  left: -300px;
  width: 300px;
  height: 100%;
  background: #000;
  overflow-y: auto;
  z-index: 1;
}

#sidebar .barra {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 50px;
}

#sidebar .barra img {
  width: 120px;
  height: 100px;
  margin-bottom: 5px;
}

#sidebar .h6 {
  color: #fff;
}

#sidebar.active {
  margin-left: -300px;
}

#sidebar h1 {
  font-weight: 700;
  font-size: 30px;
}

#sidebar h1 .logo {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  text-decoration: none;
}

#sidebar h1 .logo span {
  font-size: 18px;
  color: #b9aa61;
  display: block;
  text-decoration: none;
  margin-top: 5px;
}

#sidebar ul.components {
  padding: 0;
}

#sidebar ul li {
  font-size: 20px;
}

#sidebar ul li>ul {
  margin-left: 10px;
}

#sidebar ul li>ul li {
  font-size: 14px;
}

#sidebar ul li a {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 35px;
}

#sidebar ul li a span {
  color: #b9aa61;
  margin-right: 20px;
  font-size: 20px;
}

#sidebar ul li a:hover {
  color: #fff;
  padding-left: 20px;
  transition: .4s;
}

#sidebar ul li.active>a {
  background: transparent;
  color: #fff;
}

#sidebar span {
  margin-right: 5px;
}

#sidebar .btn.btn-secondary.salir {
  color: #000;
  background: #fff;
  margin-bottom: 60px;
}

#sidebar .btn.btn-secondary.salir:hover {
  color: #f91920;
}

#sidebar .custom-menu {
  display: inline-block;
  position: absolute;
  top: 30px;
  right: 0;
  margin-right: -20px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

#content {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 150px;
  padding-right: 150px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#content .alert.alert-success {
  position: absolute;
  min-width: 23%;
  top: 20px;
  right: 160px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#content .alert.alert-danger {
  position: absolute;
  min-width: 23%;
  top: 70px;
  right: 150px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

div.dataTables_wrapper {
  width: auto;
  margin: 0 auto;
}

/* pagina auxiliares */

.titulo-pagina-menu {
  color: #b9aa61;
  font-size: 20px;
  padding-left: 14px;
}

.acciones-datatable .btn {
  border-radius: 100%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown .btn {
  margin: 0;
}

.contenido {
  margin: 0;
}

.formulario {
  width: 80%;
  padding-left: 15em;
  margin: 0;
}

.formulario .card {
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: 30px;
  padding-right: 30px;
  border: #000 solid 0.5px;
  border-radius: 10px;
}

.formulario h6 {
  font-size: 30px;
}

.alert-danger p {
  margin: 0;
  text-align: center;
}

.alert-success p {
  margin: 0;
  text-align: center;
}

.alert-primary p {
  margin: 0;
  text-align: center;
}

@media (min-width: 320px) and (max-width: 767px) {
  #boton-menu {
    margin-left: 85%;
    margin-top: 5%;
  }

  #sidebar {
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #000;
    overflow-y: auto;
    z-index: 1;
  }

  #content {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }

  .formulario {
    width: 100%;
    padding-left: 0;
    margin: 0;
  }

  .formulario .card {
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 10px;
    padding-right: 10px;
    border: #000 solid 0.5px;
    border-radius: 10px;
  }

  #content .alert.alert-success {
    position: absolute;
    min-width: 23%;
    top: 65px;
    right: 0px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }

  #content .alert.alert-danger {
    position: absolute;
    min-width: 23%;
    top: 50px;
    right: 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
}

@media (min-width: 768px) and (max-width: 920px) {
  #boton-menu {
    margin-left: 85%;
    margin-top: 5%;
  }

  #sidebar {
    position: fixed;
    left: -300px;
    width: 300px;
    height: 100%;
    background: #000;
    overflow-y: auto;
    z-index: 1;
  }

  #content {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 40px;
    padding-right: 40px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }

  .formulario {
    width: 100%;
    padding-left: 0;
    margin: 0;
  }

  #content .alert.alert-success {
    position: absolute;
    min-width: 23%;
    top: 0px;
    right: 60px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }

  #content .alert.alert-danger {
    position: absolute;
    min-width: 23%;
    top: 36px;
    right: 70px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
}