@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}

h1 {
    font-weight: bold;
    margin: 0;
}

h2 {
    text-align: center;
}

p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}

span {
    font-size: 12px;
}

a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

a:hover {
    color: #8d8d8d;
}

button {
    border-radius: 20px;
    border: 1px solid #4b4a4a;
    background-color: #4b4a4a;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;
    width: 300px;
}

button:hover {
    border: 1px solid #8d8d8d;
    background-color: #8d8d8d;
}

button:active {
    transform: scale(0.95);
}

button:focus {
    outline: none;
}

button.ghost {
    background-color: transparent;
    border-color: #FFFFFF;
}

form {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

.container-login {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;
}

.form-container {
    top: 0;
    transition: all 0.6s ease-in-out;
    border: 1px solid #4b4a4a;
    box-shadow: 5px 5px 15px #4b4a4a;
}

.sign-in-container {
    left: 0;
    width: 40%;
    height: 80%;
    z-index: 2;
}

.bg-login {
    width: 60%;
}

.bg-login img {
    width: 90%;
    height: 70%;
}

.social-container {
    margin: 20px 0;
}

.social-container a {
    border: 1px solid #DDDDDD;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
}

.social-container a.facebook:hover {
    background: #1877f2;
    border: 1px solid #fff;
    color: #fff;
}

.social-container a.gmail:hover {
    background: #f24537;
    border: 1px solid #fff;
    color: #fff;
}

.mensaje-error {
    color: #f60909;
    animation-duration: 3s;
    animation-name: unset;
    animation-iteration-count: unset;
}

@media (min-width: 320px) and (max-width: 425px) {
    .sign-in-container {
        width: 100%;
        height: 100%;
        z-index: 2;
    }

    .bg-login {
        width: 0;
    }

    .bg-login img {
        visibility: hidden;
    }

    form {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    .sign-in-container {
        width: 50%;
        height: 100%;
        z-index: 2;
    }

    .bg-login {
        width: 50%;
    }

    .container-login {
        padding-left: 20px;
        padding-right: 20px;
    }

    form {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@media (min-width: 769px) and (max-width: 1366px) {
    .sign-in-container {
        width: 40%;
        height: 80%;
        z-index: 2;
    }

    .bg-login {
        width: 60%;
    }

    .container-login {
        padding-left: 80px;
        padding-right: 80px;
    }

    form {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}