<h6 class="titulo-pagina-menu">Cromoterapia</h6>

<div class="content">
  <div class="container">
    <div class="formulario">

      <% flash.get('mensaje').forEach(function (msg) { %>
        <div class="alert alert-danger alert-dismissible fade show mb-4" role="alert" id="alerts">
          <p>
            <i><span class="fa fa-circle-xmark"></span></i>
            <%=msg%>
          </p>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% }) %>

          <nav class="mt-4" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/colores">Cromoterapia</a></li>
              <li class="breadcrumb-item active" aria-current="page">Editar</li>
            </ol>
          </nav>

          <div class="card mt-5">
            <div class="mb-4">
              <h6>Editar Color</h6>
            </div>

            <div class="card-body">
              <form class="row g-4" id="formulario-cromoterapia" method="post" action="/procesar-editar-color">
                <div class="col-md-6 mb-3">
                  <label for="idColor" class="form-label">Id</label>
                  <input type="text" class="form-control" id="idColor" name="idColor" value="<%=color[0].id%>"
                    autocomplete="off" readonly>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="nombreColor" class="form-label">Nombre</label>
                  <input type="text" class="form-control" id="nombreColor" name="nombreColor"
                    value="<%=color[0].nombre_color%>" placeholder="nombre color" autocomplete="off">
                </div>
                <div class="col-md-6 mb-3">
                  <label for="efectoColor" class="form-label">Efecto del Color</label>
                  <textarea class="form-control" id="efectoColor" name="efectoColor"
                    placeholder="Esciba aquí..."></textarea>
                </div>
            </div>
            <div class="d-grid gap-2 mt-4">
              <button class="btn btn-outline-primary" type="submit">Editar Color</button>
            </div>
            </form>
          </div>
    </div>
  </div>
</div>